@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient( to right,#F4B7D2,#F76FAA  );
}

main{
    background-color: #ffff;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #805f6eb8;
    margin: auto;

}
h1{
    color:#674d59b3 ;
    text-align: center;
    text-shadow: 1px 1px 2px #755865a9;

}

p{
    text-align: justify;
}